.popup__image {
  max-width: 816px;
  max-height: 540px;
  object-fit: contain;
}

@media screen and (min-width: 1440px) and (min-height: 940px) {
  .popup__image {
    max-width: 1116px;
    max-height: 780px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .popup__image {
    max-width: 685px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .popup__image {
    max-width: 420px;
    max-height: 440px;
  }
}

@media screen and (max-width: 424px) {
  .popup__image {
    max-width: 240px;
    max-height: 299px;
  }
}